<b>Given a dataframe representing movie seats and number of seats required to book as k.
Write a function to ouput the positions of k consecutive seats avaialble in each row.</b>

In [1]:
import numpy as np
import pandas as pd
rand_df = pd.DataFrame(np.random.randint(0,2,size=(5, 15)), index = list('ABCDE')) #creating random df
rand_df

   0  1  2  3  4  5  6  7  8  9  10  11  12  13  14
A  0  0  1  0  1  0  1  1  1  1   1   0   1   1   0
B  1  1  0  0  0  1  1  1  0  0   0   1   1   1   0
C  0  1  0  0  0  0  1  1  0  1   0   1   0   0   1
D  0  0  0  1  1  0  0  0  1  1   0   1   0   0   1
E  0  1  1  1  1  0  0  0  1  1   0   0   0   1   1

In [2]:
def cons(df, k):
    pos = [i for i in range(len(df)) if df[i] ==0] #to take index
    use = [i for i in pos if len(df)-i>=k] #boundary case to use values which will be in range
    small= []
    for i in use:
        l = []
        q = []
        for j in range(i, i+k):
              l.append(df[j])
              q.append(j)
        if(all(i == 0 for i in l)):
            small.append(q)
    return(small)

In [3]:
def seat(df, k):
    df = df.copy()
    print(df)
    for i in range(df.shape[0]):
        print('\nRow Number', df.index[i])
        val = cons(list(df.loc[df.index[i],:]), k)
        print(val)   
k = 2
seat(rand_df,k)

   0  1  2  3  4  5  6  7  8  9  10  11  12  13  14
A  0  0  1  0  1  0  1  1  1  1   1   0   1   1   0
B  1  1  0  0  0  1  1  1  0  0   0   1   1   1   0
C  0  1  0  0  0  0  1  1  0  1   0   1   0   0   1
D  0  0  0  1  1  0  0  0  1  1   0   1   0   0   1
E  0  1  1  1  1  0  0  0  1  1   0   0   0   1   1

Row Number A
[[0, 1]]

Row Number B
[[2, 3], [3, 4], [8, 9], [9, 10]]

Row Number C
[[2, 3], [3, 4], [4, 5], [12, 13]]

Row Number D
[[0, 1], [1, 2], [5, 6], [6, 7], [12, 13]]

Row Number E
[[5, 6], [6, 7], [10, 11], [11, 12]]